body {
	background-image: url("images/bluebg.png");
	background-size: cover;
	text-align:center;
}
.mainBox {
	font-family: 'Montserrat',sans-serif;
	color:white;
	display: inline-block;
	background-color: #EA3C53;
	width: 13vw;
	height: 13vw;
	border-radius:0.5vw;
	padding:1vw;
}
.mainBox img {
	max-height:50%;
	max-width:50%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h1 {
	font-family: 'Montserrat',sans-serif;
	font-size: 10vw;
}
#made {
	background-color:#47898A;
	border:0.25vw solid #3E7879;
}
#did {
	margin-left:2.5vw;
	background-color:#7C8F42;
	border:0.25vw solid #6D7E3A;
}
#am {
	margin-left:2.5vw;
	background-color:#F3C920;
	border:0.25vw solid #E4B90C;
}
#back {
	display:none;
}

/*colors:
#539FA0 - light blue
#325A61 - dark teal
#ABBE73 - light green
#F8DE78 - yellow
#CE8F21 - gold
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/